@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #app {
    @apply h-full w-full overflow-hidden bg-surface text-slate-100 antialiased;
    font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #3f4658 transparent;
  }
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #3f4658;
    border-radius: 3px;
  }
}
